# Virtual environment
.venv/
venv/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Django
*.log
*.pot
*.py,cover
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Environment variables
.env
.env.*

# VSCode / IDEs
.vscode/
.idea/

# System
.DS_Store
Thumbs.db
